div{
    color: rgb(184, 102, 20);
    background-color: rgb(190, 181, 181);
    margin: 50px;
    padding: 50px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}